@import url('https://fonts.googleapis.com/css2?family=Caramel&family=Hanken+Grotesk:wght@300;400;700&display=swap');

* {padding: 0;margin: 0;box-sizing: border-box;font-family:inherit;font-weight: inherit;list-style: none;text-decoration: none;color: inherit;}
html {display: block;font-size: 100%;scroll-behavior: smooth;min-height: 100%;}
body {display: block;background-repeat: no-repeat;background-attachment: fixed;}
button {cursor: pointer;border: none;background: none;}

:root {
  --gradient: linear-gradient(45deg, hsl(189deg 92% 59%) 0%, hsl(186deg 94% 49%) 11%, hsl(183deg 100% 47%) 22%, hsl(181deg 100% 46%) 33%, hsl(178deg 100% 46%) 44%, hsl(175deg 100% 46%) 56%, hsl(172deg 100% 47%) 67%, hsl(168deg 100% 47%) 78%, hsl(161deg 89% 57%) 89%, hsl(152deg 89% 63%) 100%);
}

body {
  height: 100%;
  font-family: 'Hanken Grotesk', sans-serif;
  font-weight: 300;
  color: #90aca6;
  background: var(--gradient);
}

.app {
  padding: 3% .9375rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

input, textarea {
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  padding: .3125rem;
}

input::placeholder, textarea::placeholder {
  opacity: .5;
}

input[type="file"] {
  border: none;
}

textarea {
  min-height: 5rem;
  resize: none;
}

h1 {
  text-align: center;
  line-height: 60%;
  font-size: 3rem;
  font-family: 'Caramel', cursive;
}

.form {
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  width: 100%;
  max-width: 25rem;
  border-radius: .75rem;
  background: #fff;
  box-shadow: 16px 16px 34px -1px rgba(0,0,0,0.13);
}

.form__row {
  display: flex;
  flex-direction: column;
}

.form__button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 2rem;
  min-width: 9.375rem;
  margin: 0 auto;
  gap: .5rem;
  border-radius: 1.5625rem;
  font-size: 1rem;
  font-weight: 400;
  background: var(--gradient);
  box-shadow: 16px 16px 34px -1px rgba(0,0,0,0.13);
  color: #fff;
}

.form__button img {
  width: 0;
}

.form.loading .form__button img {
  width: 1.25rem;
}